<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.nymble.ncompass">
    <application android:icon="@drawable/icon">
    	
    	<activity class="PlaceActivity" 
        	android:label="@string/recent_locations_title"
        	android:theme="@style/Theme.Black">
			<!--
	            <intent-filter>
	                <action android:value="android.intent.action.MAIN" />
	                <category android:value="android.intent.category.LAUNCHER" />
	            </intent-filter>
            -->
        </activity>
    	
    	

    	<provider class="Recent"
                android:authorities="info.nymble.location.Recent" />
                

    	<activity class="RecentListActivity" 
        	android:label="@string/recent_locations_title"
        	android:theme="@style/Theme.Black"
        	>

            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
                <category android:value="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <intent-filter android:label="@string/recent_view_list">
                <action android:value="android.intent.action.VIEW" />
                <category android:value="android.intent.category.DEFAULT" />
                <type android:value="vnd.android.cursor.dir/vnd.info.nymble.location" />
            </intent-filter>
        </activity>
        <!--
        <activity class="NCompass" 
        	android:label="@string/app_name"
        	android:theme="@style/Theme.Translucent">
            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
                <category android:value="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
    </application>
</manifest> 